body{
    background-color: white;
}
h1 {
    font-size: 25px;
    text-align: center;
    padding-left: 15px;
}
.col-md-6 img {
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-left: 12%;
}

.navbar-brand img{
    width: 10%;
    height: auto;
    margin-left: 20%;
}

.redes img{
    align-items: center;
    justify-content: center;
    width: 8%;
    height: auto;
    margin-left: 28%;
}
.col-4{
    display: flex;
    align-content: center;
    justify-content: center;
}
.coso{
    margin-top: 80px;
}



